<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container mt-5">
        <h1>{{ title }}</h1>
        <a href="/manutSalaDeAula" class="btn btn-primary">Ir para Manutenção de Salas de Aula</a>
    </div>
</body>
</html>
